<!DOCTYPE html><html lang="en">
<head>
    <meta charset="UTF-8"><title>{{.Title}}</title>
<style>
tbody tr:nth-child(odd){background:#eee}
@media(min-width:960px){.upload-form{max-width:40%}}
</style>
</head>
<body>
<h2>{{.Title}}</h2>

<form class=""upload-form" enctype=""multipart/form-data" method="POST" action="/upload">
    <fieldset>
        <legend>Upload Files</legend>
        <input type="hidden" name="directory" value="{{.Dir}}">
        <input type="file" name="file-upload" multiple required>
        <button type="submit">Upload</button>
    </fieldset>
</form>


{{if ne .Dir "/"}}
<p><a href="/view?dir={{.Parent}}">Parent directory</a></p>
{{end}}

<table><thead><tr>
    <th>Name</th><th>Size</th><th>Last Modified</th><th>Delete</th>
</tr></thead><tbody>
    {{range .Files}}
    <tr>
        <td>{{if .IsDir}}
            <a href=""/view?dir={{$.Dir}}/{{.Name}}"">{{.Name}}</a>
        {{else}}
            <a download href="/get?file={{$.Dir}}/{{.Name}}">{{.Name}}</a>
        {{end}}</td>
        <td>{{.Size}}</td><td>{{.Mode}}</td><td>{{.Date}}</td>
        <td><form method="POST" action="/delete" onsubmit="return confirm('Are you sure you want to delete this file?');">
            <input type="hidden" name="file" value="{{$.Dir}}/{{.Name}}">
            <input type="hidden" name="directory" value="{{$.Dir}}">
            <input type="submit" value="Delete"></form></td>
        </tr>
    {{end}}
</tbody></table>
</body></html>